################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AQA_MTS_Graduate_Work/FileContentIndex
/.vs/AQA_MTS_Graduate_Work/v17/TestStore/1
/.vs/ProjectEvaluation
/.vs/AQA_MTS_Graduate_Work/v17/.futdcache.v2
/.vs/AQA_MTS_Graduate_Work/v17/.suo
